:root {
    --header-background-color: #a5ddf0;
    --header-color: #1f1f1f;
    --header-nav-color: #4f4f4f;
    --header-nav-color-hover: #383838;
}

:root .dark{
    --header-background-color: rgb(0, 25, 26);
    --header-color: #e5e5e5;
    --header-nav-color: #e5e5e5;
    --header-nav-color-hover: #e3e3e3;
}

* {
    font-family: Charter, Arial, "Noto Sans SC", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}