:root {
    --header-background-color: rgba(168, 234, 255, 0.85);
    --header-color: #1f1f1f;
    --header-nav-color: #4f4f4f;
    --header-nav-color-hover: #383838;
    --header-drawer-icon-color: #4f4f4f;
    --header-drawer-icon-color-hover: #383838;
    --header-shade-color: #484848;
    --header-lang-menu-bg-hover: #a6a6a6ff;
    --body-content-bg: #f3f3f3;
    --body-content-span-line-creative: #78daff;
    --body-content-span-text-color: #383838;
    --footer-bg-color: #dadada;
    --footer-shade-color: #484848;
    --footer-text-color: #2f2f2f;
    --footer-svg-color: #030303;
    --footer-secondary-text-color: #d9d9d9;
    --footer-shade-secondary: #252525;
}

:root .dark{
    --header-background-color: rgba(0, 7, 26, 0.75);
    --header-color: #e5e5e5;
    --header-nav-color: #e5e5e5;
    --header-nav-color-hover: #e3e3e3;
    --header-drawer-icon-color: #e5e5e5;
    --header-drawer-icon-color-hover: #e3e3e3;
    --header-shade-color: rgba(0, 59, 80, 0.35);
    --header-lang-menu-bg-hover: #1e1e1e;
    --body-content-bg: #252525;
    --body-content-span-line-creative: rgba(79, 143, 166, 0.9);
    --body-content-span-text-color: #e3e3e3;
    --footer-bg-color: #030303;
    --footer-shade-color: rgba(0, 59, 80, 0.35);
    --footer-text-color: #e3e2e2;
    --footer-svg-color: #d9d9d9;
    --footer-secondary-text-color: #4f4f4f;
    --footer-shade-secondary: #e3e3e3;
}

* {
    font-family:  "Noto Sans SC", sans-serif, Charter, Arial, "Noto Sans JP";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}